<footer id="footer"class="mt-3">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="copyright">
                      &copy;copyright<strong>
                          Santhosh Agency
                      </strong>. All Rights Reserved
                  </div>
                 
              </div>
          </div>
              
  </footer>