<style>
  .badge-notify{
   background:#e78a1ff5;
   position:relative;
   top: -12px;
   left: -16px;
  }
</style>
  <div class="container-fluid px-md-5 pt-4 pt-md-5">
    <div class="row justify-content-between">
        <div class="col-md-8 order-md-last">
            <div class="row">
                <div class="col-md-6 text-center">
                  <img src="/images/logo.jpg" width="100" height="90">
                    <a class="navbar-brand" href="#" style="font-family: 'Times New Roman', Times, serif;">SANTHOSH
                        <span>AGENCY</span>
                        <small class="text-dark">
                            Distributing Company
                        </small>
                    </a>
                </div>
                
                
  <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3"style=" width: 51px; height:42px; margin-left:370px;padding-block: 12px; ">
  <button class="btn btn-xs btn-link" style="font-size:25px;">
    <a href="/shopping-cart/">
    <i class="fas fa-shopping-cart" style="color:#44cac4"></i></a>
  </button>
  <span class="badge badge-notify" style="font-size:10px;">{{session.cart.totalQty}}</span>
</div> 
<!--search bar starts-->
</div>
 
</div>


    
       
<!--End of Search-->
<!--social media starts-->
        <div class="col-md-4 d-flex">
            <div class="social-media">
                <p class="mb-0 d-flex">
                    <a href="https://www.facebook.com/pages/category/Bookstore/Santhosh-Agency-school-books-suppliers-1507347346220938/"class="d-flex align-items-center 
                    justify-content-center">
                  <span class="fab fa-facebook">
                      <i class="sr-only">Facebook</i>
                  </span>
                  </a>
                  <a href="#"class="d-flex align-items-center 
                    justify-content-center">
                  <span class="fab fa-twitter">
                      <i class="sr-only">Facebook</i>
                  </span>
                  </a>
                  <a href="#"class="d-flex align-items-center 
                    justify-content-center">
                  <span class="fab fa-instagram">
                      <i class="sr-only">Facebook</i>
                  </span>
                  </a>
                  
                  {{!-- <a href="/shopping-cart/"class="d-flex align-items-center justify-content-center">
                   
                    
                    
                      <i class="fas fa-shopping-cart"></i>
                     
                 <span class="badge">{{session.cart.totalQty}}</span>
                 
                   
                  </a> --}}
                   

</div>
                </p>
            </div>
        </div>
  </div>
  </div>
<!--social media bar ends-->
<!--NAVBAr-->
<nav class="navbar navbar-expand-lg navbar-dark main-navbar bg-dark main-navbar-light"id="a-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler"type="button" data-toggle="collapse"
        data-target="#my-nav" aria-controls="my-nav"aria-expanded="false"aria-label="toggle-navigation">
      <span class="fa fa-bars">Menu</span>
      </button>
      <div class="collapse navbar-collapse"id="my-nav">
          <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                  <a href="/"class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
</svg> Home</a>
              </li>
              <li class="nav-item">
                  <a href="#about"class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
</svg> About</a>
              </li>
              
              <li class="nav-item">
                  <a href="#test"class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg> Proprietor</a>
              </li>
             
              <li class="nav-item">
                  <a href="#contact"class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
</svg> contact</a>
              </li>
              {{# if login}}
              <li class="nav-item">
                <a href="/user/profile"class="nav-link" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
  <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
</svg> User Account</a>
            </li>
             <li class="nav-item">
                  <a href="/user/logout"class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
              </li>
              {{ else }}
                 <li class="nav-item">
              <a href="/user/signup"class="nav-link" ><i class="fas fa-user-plus"></i> Signup</a>
          </li>
            <li class="nav-item">
              <a href="/user/signin"class="nav-link" ><i class="fas fa-sign-in-alt"></i> Signin</a>
          </li>
          
          {{/if}}
    
 
        </ul>
    </div>
</nav>
<!--End of NAVBAR-->
<!--Hero Section-->


