
  <style>
.login-form {
    width: 500px;
    height: 500px;
    margin: 50px ;
  	font-size: 20px;
   margin-left: 210px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.alert{
    margin-left: 450px;
    width: 500px;
    text-align: center;
    }
.value{
    width: 100%;
    height: 100vh;
    background: url("/images/back(1).jpg") top center;
 
    background-size: cover;
    position: relative;
  }
  
 
 
</style>
   <div class="value col-md-4 ">
 
           {{#if hasErrors}}
           <div class="text-center alert alert-danger">
             {{# each messages }}
             <p>{{this}}</p>
             {{/each}}
           </div>
           {{/if}}
           <br><br>
           <div class="login-form">
             <form action="/user/signup" method="POST">
             <div class="form-group">
               <h1 class="text-center">SIGN UP</h1>
               <br>
            <label for="email">E-mail</label>
            <input type="text" class="form-control" name="email">
            <br>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" >
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <br>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Signup</button>
          
        </div>
             <br>
    </form>
          
          
   </div>

 