 <br><br>
 <style>
      a:link{
          text-decoration: none;
      }
  </style>
<div class="text-center" id="bookname">

	<div class="row">
				<div class="col-sm-4">
					<div class="card"  style="margin-left: 40px;">
						<div class="card-body text-center">
							<a href="/bookvarieties/infinity"><img src="images/Infinity.svg"  width="80%;"><br><br><br><br><br>
                <hr>
							<h3 class="card-title" style="color: tomato;  font-size: 30px;">Infinity Educational World</h3></a>
						</div>
					</div>
				</div>


				<div class="col-sm-4">
					<div class="card " style="margin-left: 40px;">
						<div class="card-body text-center">
							<a href="/bookvarieties/lemontree"><img src="images/Lemon_tree_books.svg" class="img-fluid" height="120%" width="100%;"><br><br><br><br><br><br>
                <hr>
							<h3 class="card-title"  style="color: tomato;  font-size: 30px;">Lemon Tree</h3></a>
						</div>
					</div>
				</div>



				<div class="col-sm-4">
					<div class="card " style="margin-left: 40px;">
						<div class="card-body text-center">
							<a href="/bookvarieties/vardhman"><img src="images/Vardhman Logo.svg" class="img-fluid" width="100%;"><br><br><br><br><br><br>
                <hr>
							<h3 class="card-title"  style="color: tomato;  font-size: 30px;">Vardhman</h3></a>
						</div>
					</div>
				</div>
        </div>  
<br><br>
<!-- second row start -->
	<div class="row">
				<div class="col-sm-4">
					<div class="card" style="margin-left: 40px; padding-top: 20px;">
						<div class="card-body text-center">
							<a href="/bookvarieties/goodluck"><img src="images/goodluck.png"  width="100%;" ><br><br><br><br><br>
                <hr>
							<h3 class="card-title" style="color: tomato;  font-size: 30px;">Good Luck Publishers</h3></a>
						</div>
					</div>
				</div>


				<div class="col-sm-4">
					<div class="card " style="margin-left: 40px; padding-top: 18px;" >
						<div class="card-body text-center">
							<a href="/bookvarieties/vpublishers"><img src="images/vpub.png" class="img-fluid"  width="80%;"><br><br><br><br><br><br>
                <hr>
							<h3 class="card-title"  style="color: tomato;  font-size: 30px;">V Publications</h3></a>
						</div>
					</div>
				</div>
    </div>  
<br><br>

