
<section class="hero d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <h1>Good Books Good Reads <span>.</span></h1>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
           
            
          <div class="col-xl-2 col-md-4 col-6">
              <div class="category">
                <i class="fas fa-book-reader"></i>
                  <h3><a href="/ourpublishers">Our Books Publishers</a></h3>
              </div>
          </div>
          
          <div class="col-xl-2 col-md-4 col-6">
              <div class="category">
                  <i class="fab fa-opencart"></i>
                  <h3><a href="/bookvarieties">Varieties of Books</a></h3>
              </div>
          </div>
        </div>
    </div>
</section>
<!---End of Hero Section-->
<!--About Section-->
<section class="about mt-5" id="about">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-6 col-md-10">
                <div class="about-des mb-50">
                    <!--title-->
                    <div class="section-title mb-35">
                        <h2>Who We Are?</h2>
                    </div>
                    <!---End of the title-->
                    <p>Initially,The sample books from all the domains are sent by respective companies.Then,all the books are taken to the respective schools and they chose books accordingly from the given sample books.Then later based on the order of books from the schools , we will order the list of books in the company and then will distribute all the necessary books further to all the school organizations.</p>
                    <p></p>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <div class="experience">
                          <span>80</span>
                          <p> Schools Distributers</p>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <div class="experience">
                          <span>30</span>
                          <p> Company Publishers</p>
                      </div>
                  </div>
                </div>
  
            </div>
            <!--Experience section-->
            <div class="col-xl-5 col-lg-6 col-md-9 offset-md-1 offset-sm-1">
                <div class="about-right-sec">
                    <div class="about-right-image">
                        <img src="images/about.jpg"alt=""class="img-fluid">
                    </div>
                    <div class="img-box">
                        <span>14</span>
                        <p>Years of Experience</p>
                    </div>
                </div>
                <br><br>
        <div class="stiki">
                <ul>
                    <li>
                      <a href="" >
                        <h3>CBSE</h3>
                        <h3>Matric School Books</h3>
                        <h3>Library Books</h3>
                        <h3>Guides</h3>
                        <h3>General Books</h3>
                        
                      </a>
                    </li>
                </ul>
        </div>

                </div>
        </div>
    </div>
</section>
<!--End of About Section-->
<!---Selling Section-->

  <!---End of Selling Section-->
  <!---Testimonial-->
 
<section id="testimonial"class="mt-5 pt-3 pb-5">
      <div class="container" id="test">
          <div class="row justify-content-center">
              <div class="col-md-12">
                  <h2 class="text-center pb-2">Proprietor</h2>
              </div>
             
              <div class="col-md-4 col-sm-4">
                  <div class=" text-box">
                    <p>Owner of the Company</p>
                  </div>
                  <div class="text-info">
                      <a href="#"><img src="images/DSC00584.JPG"  width="110%" height="130%" alt=""></a>
                      <h3>Murali</h3>
                  </div>
                </div>
            
              
              <div class="col-md-4 col-sm-4">
                  <div class=" text-box">
                      <p>Managing Director</p>
                  </div>
                  <div class="text-info">
                      <a href="#"><img src="images/santhosh(2).jpg" class="circular--square" width="100%" height="120%" alt=""></a>
                      <h3>Santhosh Kumar</h3>
                  </div>
                </div>
             </div>
      </div>
  </section>
  <!--End Testimonial-->
 
  <!---End of Tabs Section-->
  <!--Map & Contact Section-->
  <section class="contact mt-5" >
      <div class="container">
          <div class="section-title">
            <h2 class="text-center">Location</h2>
          
          </div>
      </div>
      <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.421649829837!2d78.17210831429355!3d11.66450084536364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf139a458ab35%3A0x676aaf63d28e6585!2sSanthosh%20Agency!5e0!3m2!1sen!2sin!4v1619685141755!5m2!1sen!2sin" width="100%" height="350px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="container" id="contact">
       <br>
       <h2 class="text-center">Contact</h2>
          <div class="row mt-5">
              <div class="col-lg-4">
                  <div class="info">
                    
                  
                      <div class="address">
                          <i class="fas fa-map-marker-alt"></i>
                          <h4>Loaction:</h4>
                          <p>4/1,Malli Street,Ponnammapet,<br>Salem-636001</p>
                      </div>
                      <div class="open-hours">
                          <i class="far fa-clock"></i>
                          <h4>Open Hours:</h4>
                          <p>Monday-Saturday<br>
                          10.00am-06.00pm</p>
                      </div>
                      <div class="email">
                        <i class="far fa-envelope-open"></i>
                          <h4>Email:</h4>
                          <p>murali.santhoshagency@gmail.com</p>
                      </div>
                      <div class="phone">
                          <i class="fas fa-phone"></i>
                          <h4>Call:</h4>
                          <p>9940970779</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8 mt-5 mt-lg-0">
                  <form method="POST" action="/contact">
                      <div class="form-row">
                          <div class="col-md-6 form-group">
                              <input type="text" name="name"
                              class="form-control" id="name"
                              placeholder="Your Name">
                          </div>
                          <div class="col-md-6 form-group">
                              <input type="email"
                              class="form-control" name="email" id="email"
                              placeholder="Your Email">
                          </div>
                      </div>
                      <div class="form-group">
                          <input type="text"class="form-control" name="subject"
                          id="subject" placeholder="Subject">

                      </div>
                      <div class="form-group">
                          <textarea class="form-control" name="message"
                          rows="8" placeholder="Message"></textarea>
                      </div>
                      <div class="text-center">
                          <button type="submit">Send message</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <!--End of Contact Section-->
  <!--footer section-->
  <br>