
<style>
      .stiki h2 {
     font-weight: bold; 
     font-size: 2rem; 
  }
  .stiki p {
    font-family: 'Reenie Beanie';
    font-size: 2rem;
  }
  .stiki ul,li{
    list-style:none;
  }
   .stiki ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  .stiki ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:8em;
    width:17em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
   
    transition: transform .15s linear;
  }
  
  .stiki ul li:nth-child(even) a{
   
    position:relative;
    top:5px;
    background:#cfc;
  }
  .stiki ul li:nth-child(3n) a{
    
    position:relative;
    top:-5px;
    background:#ccf;
  } 
  .stiki ul li:nth-child(5n) a{
  
    position:relative;
    top:-10px;
  }
  
  .stiki ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  
  .stiki ul li{
    margin:1em;
  }

</style>
<br>
 <div class="text-center">
       
  
    <h1 class="ml15">
      <span class="word">Our</span>
      <span class="word" style="padding-left: 25px;">Publishers</span>
    </h1>
  </div>
  <br>
<div class="stiki">

<ul class="text-center">
    <li>
      <a href="">
        <h2>Lemon Tree</h2>
        
      </a>
    </li>
    <li>
      <a href="/shop/infinity">
        <h2>Infinity</h2>
        
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Vardhman</h2>
        
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Practica</h2>
       
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Good Luck Publishers Limited</h2>
       
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Vidyarthi Prakashan Limited</h2>
      
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Samsel Publications</h2>
        
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Sunshine Publications</h2>
        
      </a>
    </li>
    <li>
        <a href="">
          <h2>Seasons Publishing</h2>
        
        </a>
      </li>
      <li>
        <a href="">
          <h2>Young Minds Press</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Cotyledons Educational</h2>
          
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Kidz World Publications</h2>
          
        </a>
      </li>
      <li>
        <a href="" >
          <h2>S.R.Publications</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Knowledge Invention</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Associate Prints</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Veda Prakaasanam</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Bookman India</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Runway Books</h2>
         
        </a>
      </li>

  </ul>
</div> 
